<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>83213821782-tpr5esvokkuc213f27n67264nd27s1hd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.83213821782-tpr5esvokkuc213f27n67264nd27s1hd</string>
	<key>API_KEY</key>
	<string>AIzaSyC9jHEOncoXsvy-IlveXpgmW5A0ICuQqc8</string>
	<key>GCM_SENDER_ID</key>
	<string>83213821782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.Tinder</string>
	<key>PROJECT_ID</key>
	<string>tinder-2be8f</string>
	<key>STORAGE_BUCKET</key>
	<string>tinder-2be8f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:83213821782:ios:7a6e736bb6feb598d298f7</string>
</dict>
</plist>